body {
  font-family: sans-serif;
}

img {
  width: 10%
}

h2 {
  color: #8D4A35;
}

.document-history {
  background-color: #DAE411;
}

.document-history p {
  width: 50%;
}

.document-history h4 {
  background-color: #000000;
  color: #FFFFFF;
}

.amendment-title {
  text-align: center;
  color: rgba(23, 150, 200, 10);
  font-size: 2em;
}

.amendment-title:hover {
  color: green;
}

.amendment-title::first-letter {
  font-size: 5rem;
}

.amendment-body {
  text-align: left;
}
